/* Light-mode palette */
:root {
  --bg-dark: oklch(0.92 0.01 120);
  --bg-dark-transparent: oklch(0.92 0.01 120 / 0.8);
  --bg: oklch(0.96 0.01 120);
  --bg-light: oklch(1 0.01 120);
  --text: oklch(0.15 0.02 120);
  --text-muted: oklch(0.4 0.02 120);
  --highlight: oklch(1 0.02 120);
  --border: oklch(0.6 0.02 120);
  --border-muted: oklch(0.7 0.02 120);
  --primary: oklch(0.5 0.11723 121.244);
  --primary-muted: oklch(0.65 0.11723 121.244);
  --secondary: oklch(0.4 0.1 300);
  --secondary-muted: oklch(0.55 0.1 300);
  --accent: oklch(0.8047 0.1354 86.53);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

/* Dark-mode palette */
.dark {
  --bg-dark: oklch(0.1 0.01 120);
  --bg-dark-transparent: oklch(0.1 0.01 120 / 0.4);
  --bg: oklch(0.15 0.01 120);
  --bg-light: oklch(0.2 0.01 120);
  --text: oklch(0.96 0.02 120);
  --text-muted: oklch(0.76 0.02 120);
  --highlight: oklch(0.5 0.02 120);
  --border: oklch(0.4 0.02 120);
  --border-muted: oklch(0.3 0.02 120);
  --primary: oklch(0.76 0.1 120);
  --secondary: oklch(0.76 0.1 300);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

/* background colors classes */
.dark-bg {
  background-color: var(--bg-dark);
}
.dark-bg-transparent {
  background-color: var(--bg-dark-transparent);
}
.light-bg {
  background-color: var(--bg-light);
}
.primary-bg {
  background-color: var(--primary);
}
.secondary-bg {
  background-color: var(--secondary);
}
.primary-muted-bg {
  background-color: var(--primary-muted);
}
.secondary-muted-bg {
  background-color: var(--secondary-muted);
}

.higlight-color {
  color: var(--highlight);
}

* {
  font-family: "Courier New", monospace;
}

html {
  scroll-snap-type: y proximity;
}

body {
  background-color: var(--bg);
  font-size: large;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2 {
  text-align: center;
}

blockquote {
  color: var(--text-muted);
}

table {
  margin: 5%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 15px;
}

th,
td:first-child {
  font-weight: bold;
  background-color: var(--primary-muted);
}

th,
td {
  padding: 5px;
  border: 1px, solid;
  box-shadow: 1px 1px 1px;
}

th:last-child,
td:last-child {
  background-color: var(--secondary-muted);
  color: var(--bg-dark);
}

.snapping-section {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  scroll-snap-align: center;
  margin: 0;
}

.section-wrapper {
  margin: auto;
  width: 90%;
  height: 80%;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  box-sizing: border-box;
  padding: 2%;
}

.padding-sides {
  box-sizing: border-box;
  padding: 0 3%;
}

.padding-top-bottom {
  box-sizing: border-box;
  padding: 3% 0;
}

.margin-top {
  margin-top: 3%;
}

nav {
  position: fixed;
  width: 100vw;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--text);
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: var(--bg-dark);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: var(--primary);
}

nav ul li a.active {
  background-color: var(--secondary);
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Dynamic Viewport Height - so that only the devices that support it (mostly phones)
        will count the true visible window,and not covered parts.  */
  height: 100dvh;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-containers {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/containers.jpg");
}

#hero-mountains {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/mountains-landscape.jpg");
}

.vertical-small-margin-children > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

b {
  color: var(--secondary-muted);
  font-weight: 600;
}

i {
  color: var(--secondary-muted);
}

.big-button {
  padding: 1vh;
  border-radius: 10px;
  border: 5px dotted var(--bg);
  color: var(--bg);
  font-size: large;
  background-color: var(--secondary-muted);
}

.big-button:hover {
  color: var(--bg-light);
  background-color: var(--secondary);
}

.rounded-corners {
  border-radius: 20px;
}

.collapsible {
  background-color: var(--bg-light);
  color: var(--text);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: large;
  font-weight: bolder;
}

.collapsible:hover,
.collapsible.active {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

.collapsible-content {
  display: none;
  color: var(--text-muted);
}

.card {
  color: var(--text-muted);
  width: 30%;
  padding: 20px;
  background-color: var(--bg-dark);
  transition: 0.3s;
  margin: 0 10px;
}

.card:hover {
  color: var(--text);
  background-color: var(--bg-light);
  scale: 105%;
}

.card:hover > h2 {
  color: var(--primary-muted);
}
