/* Light-mode palette */
:root {
  --bg-dark: oklch(0.92 0.01 120);
  --bg-dark-transparent: oklch(0.92 0.01 120 / 0.8);
  --bg: oklch(0.96 0.01 120);
  --bg-light: oklch(1 0.01 120);
  --text: oklch(0.15 0.02 120);
  --text-muted: oklch(0.4 0.02 120);
  --highlight: oklch(1 0.02 120);
  --border: oklch(0.6 0.02 120);
  --border-muted: oklch(0.7 0.02 120);
  --primary: oklch(0.5 0.11723 121.244);
  --primary-muted: oklch(0.65 0.11723 121.244);
  --secondary: oklch(0.4 0.1 300);
  --secondary-muted: oklch(0.55 0.1 300);
  --accent: oklch(0.8047 0.1354 86.53);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

/* Dark-mode palette */
.dark {
  --bg-dark: oklch(0.1 0.01 120);
  --bg-dark-transparent: oklch(0.1 0.01 120 / 0.4);
  --bg: oklch(0.15 0.01 120);
  --bg-light: oklch(0.2 0.01 120);
  --text: oklch(0.96 0.02 120);
  --text-muted: oklch(0.76 0.02 120);
  --highlight: oklch(0.5 0.02 120);
  --border: oklch(0.4 0.02 120);
  --border-muted: oklch(0.3 0.02 120);
  --primary: oklch(0.76 0.1 120);
  --secondary: oklch(0.76 0.1 300);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

/* background colors classes */
.dark-bg {
  background-color: var(--bg-dark);
}
.dark-bg-transparent {
  background-color: var(--bg-dark-transparent);
}
.light-bg {
  background-color: var(--bg-light);
}
.primary-bg {
  background-color: var(--primary);
}
.secondary-bg {
  background-color: var(--secondary);
}
.primary-muted-bg {
  background-color: var(--primary-muted);
}
.secondary-muted-bg {
  background-color: var(--secondary-muted);
}

.higlight-color {
  color: var(--highlight);
}

* {
  font-family: "Courier New", monospace;
}

.full-height {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--bg);
  font-size: large;
  user-select: none;
}

.selectable-content {
  user-select: text;
}

body::-webkit-scrollbar {
  display: none;
}
h1,
h2 {
  text-align: center;
}

h3 {
  font-size: large;
  font-weight: bolder;
}

blockquote {
  color: var(--text-muted);
}
.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  box-sizing: border-box;
  padding: 2%;
}

.padding-sides {
  box-sizing: border-box;
  padding: 0 3%;
}

.padding-top-bottom {
  box-sizing: border-box;
  padding: 3% 0;
}

.margin-top {
  margin-top: 3%;
}

.margin-top-bottom {
  margin: 10px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--text);
}

nav * {
  height: 50px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: flex;
  color: var(--bg-dark);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: var(--primary);
}

nav ul li a.active {
  background-color: var(--secondary);
}

b {
  color: var(--secondary-muted);
  font-weight: 600;
}

i {
  color: var(--secondary-muted);
}

.rounded-corners {
  border-radius: 20px;
}

main {
  flex: 1; /* occupa lo spazio rimanente */
  height: calc(100% - 50px); /* minus navbar height */
}

input {
  border-radius: 5px;
  border-width: 0px;
  background-color: var(--bg);
  padding: 5px;
  color: var(--secondary-muted);
}

input:hover {
  background-color: var(--bg-dark);
}

footer {
  text-align: center;
  background-color: var(--info);
  color: var(--bg);
  padding: 1rem;
  font-size: small;
}
