form {
  background-color: var(--bg-light);
  box-shadow: 0 0 5px 5px var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering of children */
  align-items: center; /* horizontal centering of children */
}

.form-fields {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

#form_submit {
  margin: 10px;
  width: 80px;
  background-color: var(--secondary);
  color: var(--bg);
}

#form_submit:hover {
  background-color: var(--secondary-muted);
}